html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0;
}

nav {
    background-color: #222831;
    color: #fff;
}

/* Menu */

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem; /* Perbaiki koma jadi titik */
}

.menu {
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.logo > img {
    height: 45px;
    border-radius: 50px;
}

/* Hero / Jumbotron */
header {
    background: url('../images/WhatsApp\ Image\ 2025-08-10\ at\ 11.31.00.jpeg');
    height: 100vh; /* Perbaiki dari 1050vh */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    letter-spacing: 5px;
}

.header-opacity {
    background-color: #222831;
    width: 100%;
    height: 100%;
    opacity: 0.8; /* Perbaiki koma jadi titik */
    position: absolute;
    top: 0;
    left: 0;
}
.header-jumbotron {
    position: absolute; /* Menempatkan elemen secara absolut terhadap parent yang memiliki posisi relatif */
    top: 0%;            /* Menempatkan elemen di paling atas (0% dari tinggi parent) */
    left: 0%;           /* Menempatkan elemen di paling kiri (0% dari lebar parent) */
    display: flex;      /* Mengaktifkan flexbox untuk pengaturan layout di dalam elemen ini */
    width: 100%;
    height: 100%;
    justify-content: center; /* Menyelaraskan isi elemen secara horizontal ke tengah */
    align-items: center;
    flex-direction: column;
    text-align: center;


}


.header-jumbotron > h5 {
    color: #fff;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}



